/* ----------------------------------------------------------------------
    imports
---------------------------------------------------------------------- */


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');


/* ----------------------------------------------------------------------
    variables
---------------------------------------------------------------------- */


:root {
    --dark-color: #000000;
    --primary-color: #1B1C1E;
    --secondary-color: #C49C02;
    --tertiary-color: #879BE5;
    --primary-font-family: "Poppins", sans-serif;
    --light-font-color: #FFFFFF;
    --dark-font-color: #000000;
    --primary-font-color: #777878;
    --secondary-font-color: #879BE5;
    --regular-font-weight: 400;
    --medium-font-weight: 500;
    --semi-bold-font-weight: 600;
    --bold-font-weight: 700;
    --background-color: #141316;
    --background-regular-opacity: rgba(0, 0, 0, 0.5);
}


/* ----------------------------------------------------------------------
elements
---------------------------------------------------------------------- */


* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    position: relative;
    background-color: var(--background-color);
    font-family: var(--primary-font-family);
    color: var(--light-font-color);
    margin-top: 110px;
}

header{
    position: fixed;
    z-index: 1;
    top: -110px;
    width: 100%;
    background-color: var(--tertiary-color);
    transition: top 0.5s;
}

h1 {
    font-size: 3rem;
    font-weight: var(--semi-bold-font-weight);
}

h2 {
    font-size: 2rem;
    font-weight: var(--medium-font-weight);
}

h3 {
    font-size: 1.25rem;
    font-weight: var(--regular-font-weight);
}

p {
    font-size: 1rem;
    font-weight: var(--regular-font-weight);
}

a {
    text-decoration: none;
    color: var(--dark-font-color);
}

footer {
    background-color: var(--primary-color);
}


/* ----------------------------------------------------------------------
    common styles
---------------------------------------------------------------------- */


.container {
    width: 1280px;
    margin: auto;
}

.section {
    padding-top: 120px;
}

.section-title {
    margin-left: 5rem;
}

.section-subtitle {
    margin-left: 7.5rem;
    font-style: italic;
}

.section-text {
    padding: 1rem;
    text-align: justify;
}


/* ----------------------------------------------------------------------
home section
---------------------------------------------------------------------- */


.home {
    padding-top: 0;
}


/* ----------------------------------------------------------------------
    navbar div
---------------------------------------------------------------------- */


.navbar {
    width: 95%;
    height: 110px;
    margin: auto;
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--tertiary-font-color);
}

.navbar-logo {
    width: 85px;
    height: 71.1875px;
    background-image: url("../assets/logos/scr-interior-logo.png");
    background-size: 85px 71.1875px;
    background-repeat: no-repeat;
}

.navbar-logo:hover {
    background-image: url("../assets/logos/scr-interior-white-logo.png");
    transition: background-image 0.6s;
}

.navbar-links {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.navbar-link {
    border-radius: 5px;
    display: inline-block;
    position: relative;
}

.navbar-link:hover,
.active {
    color: var(--light-font-color);
    transition: 0.3s;
}

.navbar-link::after {
    content: "";
    display: block;
    height: 2px;
    width: 0px;
    transition: 0.3s;
    position: absolute;
    background-color: var(--secondary-color);
  }

  .navbar-link:hover::after,
  .active::after {
    width: 100%;
  }


/* ----------------------------------------------------------------------
    hero section
---------------------------------------------------------------------- */


.hero {
    margin-top: -110px;
}

.hero-img {
  background-image: url("/assets/img/hero.png");
  min-height: 700px; 
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hero-title,
.hero-subtitle {
    text-shadow: 3px 3px 5px black;
}

.hero-subtitle {
    font-style: italic;
}


/* ----------------------------------------------------------------------
    welcome section
---------------------------------------------------------------------- */


.welcome {
    padding-top: 120px;
}

/* ----------------------------------------------------------------------
    solutions section
---------------------------------------------------------------------- */


.solutions-grid {
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1.5rem;
}
  
.solutions-card {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    background-color: var(--primary-color);
    border-radius: 10px;
}

.solutions-card-svg {
    width: 50px;
    fill: var(--secondary-color);
}

.solutions-card-title {
    color: var(--secondary-font-color);
}

.solutions-card-text {
    color: var(--primary-font-color);
}


/* ----------------------------------------------------------------------
    projects section
---------------------------------------------------------------------- */


.projects-grid {
    padding: 1rem;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1.5rem;
}
  
.projects-card {
    display: flex;
    width: 100%;
    background-color: var(--primary-color);
    border-radius: 10px;
    overflow: hidden;
}
  
.projects-card-img {
    width: 300px;
    height: 280px;
    object-fit: cover;
}
  
.projects-card-content {
    margin: auto 0 auto 0;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
  
.projects-card-title {
    color: var(--secondary-color);
}
 
.projects-card-text {
    color: var(--primary-font-color);
    text-align: justify;
}


/* ----------------------------------------------------------------------
    about section
---------------------------------------------------------------------- */


.about-content {
    margin: 0 2rem;
}

.about-grid {
    margin: 1.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
    align-items: center;
}

.about-img {
    width: 80%;
    max-height: 500px;
    object-fit: cover;
    border-radius: 5px;
}
  
.about-description {
    padding: 1rem;
}

.about-description-title {
    color: var(--secondary-font-color);
}    

.about-description-text {
    color: var(--primary-font-color);
    text-align: justify;
}


/* ----------------------------------------------------------------------
    partners div
---------------------------------------------------------------------- */


.partners {
    padding-top: 70px;
    text-align: center;
}    

.partners-grid {
    padding: 0 15rem 0 15rem;
    margin: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row: 1f 1f;
    gap: 1rem;
}
  
.partners-card {
    padding: 1rem;
    align-items: center;
    background-color: var(--dark-color);
    border-radius: 10px;
}

.partners-card:hover {
    background-color: var(--primary-font-color);
    transition: 0.3s;
}

.partners-card:hover .partners-svg {
    fill: var(--dark-color);
}
.partners-svg {
    height: 25px;
    margin: 0.5rem;
    fill: var(--primary-font-color);
}


/* ----------------------------------------------------------------------
    numbers div
---------------------------------------------------------------------- */


.numbers-bg {
    height: 400px;
    background-image: url("../assets/img/blue-lines.png");
    display: flex;
}

.numbers {
    text-align: center;
}    

.numbers-grid {
    margin: 0;
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 1.5rem;
}
  
.numbers-card {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    background-color: var(--background-regular-opacity);
    border-radius: 10px;
}

.numbers-card-title {
    color: var(--secondary-color);
    font-weight: var(--medium-font-weight);
}

.numbers-card-text {
    color: var(--primary-font-color);
}


/* ----------------------------------------------------------------------
    footer
---------------------------------------------------------------------- */


.footer {
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-content {
    margin: 0 2rem;
    display: flex;
    flex-direction: column;
}


.footer-text {
    font-size: 0.8rem;
    color: var(--primary-font-color);
}

.footer-partners {
    margin: 0 2rem;
}

.footer-partners-content {
    padding: 0.5rem;
    background-color: var(--primary-font-color);
    border-radius: 5px;
}

.footer-partners h3 {
    margin: 0.5rem;
}


/* ----------------------------------------------------------------------
    fadeIn transitions
---------------------------------------------------------------------- */

.fadeInTop {
    animation: fadeInTop 1.5s both;
}

@keyframes fadeInTop {
    0% {
        opacity: 0;
        transform: translateY(-80px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.fadeInBottom {
    animation: fadeInBottom 1.5s both;
}

@keyframes fadeInBottom {
    0% {
        opacity: 0;
        transform: translateY(80px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.fadeInLeft {
    animation: fadeInLeft 1.5s both;
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(-80px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.fadeInRight {
    animation: fadeInRight 1.5s both;
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translateX(80px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}








@media(max-width: 1280px) {
    .container {
        width: 100%;
    }

    .solutions-grid {
        grid-template-columns: 1fr 1fr;
    }
}